.navbar {
  background-color: yellow;
}

.btn-login {
  color: green;
  font-size: 23px;
  font-weight: 700;
}
.btn-signup {
  font-size: 23px;
  font-weight: 700;
  color: green;
}
.lnk-contect {
  font-size: 23px;
  font-weight: 700;
  color: green;
  margin-bottom: 5px;
}
.textfield {
  background-color: rgb(153, 154, 154);
}
/* .signup-grid {
  background-image: url("../../figma_img/signup-img.jpg");
  min-height: 100vh !important;
  background-repeat: no-repeat;
  background-size: cover;
} */
.page-heading {
  font-size: 50px;
  font-weight: 800;

  font-family: Georgia, "Times New Roman", Times, serif;
}
.mainpage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.full-card {
  margin-top: 3%;
  margin-left: 3%;
}
.card {
  background-image: url("");
}
.card-heading {
  font-weight: 700;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}
.card-content {
  display: flex;
  font-weight: 700;
}
.stricon {
  text-align: start;
}
.crdDetails {
  text-align: start;
}
.footerContent {
  display: flex !important;
  margin-left: 3%;
}
